td {
	height: 50px;
	vertical-align: middle;
}

.user-info, .user-value {
	height: 25px;
}

.user-info {
	padding-left: 15px; text-align : left;
	font-weight: bold;
	text-align: left;
}

.user-value {
	text-align: right;
	line-height: 25px !important;
}

.transaction-icon {
	font-size: 2em;
	text-align: center;
	width: 50px;
	padding-left: 15px;
	padding-bottom: 5px;
}

.transaction-detail {
	text-align: left;
}

.transaction-summary {
	font-weight: bold;
	font-size: 1.25em;
}

.transaction-date {
	text-align: left;
}

.transaction-price {
	float: right;
	line-height: 56px;
}

.transaction-title {
	margin-left: 5px;
	font-weight: bold;
	line-height: 1.5em;
}

.transaction-note {
	margin-left: 5px;
	font-size: 0.8em;
}

.divider {
	height: 0.5em;
}

.green {
	color: green;
}

.red {
	color: red;
}

#btn-add {
	width: 50px;
	height: 50px;
	font-size: 2em;
	color: white;
	background-color: forestgreen;
	font-weight: bold;
	border: 1px solid transparent;
	border-radius: 50%;
	margin: 20px 20px 0px 0px;
	position: absolute;
	right: 0;
}